html{
	background-image: url("images/back.jpg");
}
body{
	margin: 0;
	padding: 0;
}
header img {
	width: 350px;
	height: 200px;
	float: left;
	
}
header{
	border: 3px solid black;
	height: 200px;
	padding-bottom: 25px;
	background-color:#74bf5d;
	width: 80%;
	margin-left: 10%;
	position: fixed;
	top: 0;
	
	
}

header h2{
	font-family: Informal Roman;
	font-size: 300%;
	text-align: center;
	border: 2px solid black;
	border-radius: 25px;
	overflow: hidden;
	display: inline-block;
	padding: 20px;
	margin-left: 150px;
	background-color: white;
	
}

header h3{
	text-align: center;
	display: inline-block;
	margin-left: -340px;
	font-style: italic;
	margin-top: -3px;
	
}

main{
	border: 3px solid black;
	height: auto;
	width: 80%;
	margin-left: 10%;
	background-color: white;
	margin-top: 275px;
	
}
main h1{
	font-family: Informal Roman;
	font-size: 300%;
	text-align: center;
}
main p{
	font-family: Informal Roman;
	font-size: 150%;
	font-style: bold;
	text-align: center;
	padding-left: 125px;
	padding-right: 125px;\
	margin-top: -475px;
}
#nav_menu {
	clear: left;
	margin-left: 10%;
	position: fixed;
	margin-top: -60px;
	margin-left: 150px;
	border: 4px solid black;
	
	
	
}
#nav_menu ul {
	list-style: none;
	position: relative;
}
#nav_menu ul li {
	float: left;
}
#nav_menu ul ul {
	display: none;
	position: absolute;
	top: 100%;
}
#nav_menu ul ul li {
	float: none;
}
#nav_menu ul li:hover > ul {
	display: block;
}
#nav_menu > ul::after {
	content: "";
	clear: both;
	display: block;
}
#nav_menu ul {
	margin: 0;
	padding: 0;
}
#nav_menu ul li a {
	text-align: center;
	display: inline-block;
	position: relative;
	width: 297px;
	border: 3px solid black;
	padding: 1em 0;
	text-decoration: none;
	background-color: black;
	color: white;
	
}

#nav_menu ul li a:hover, #nav_menu ul li a:focus {
	background-color: gray;
}

#Founder img{
	height: 300px;
	width: 380px;
	margin: 10px;
	margin-top: 100px;
	
}
Footer{
	border: 3px solid black;
	text-align: center;
	text-decoration: none;
	background-color:#74bf5d;
	width: 80%;
	margin-left: 10%;
	font-family: Informal Roman;
	font-size: 150%;
	
}

Footer p{
	float: left;
	font-size: 75%;
	color: black;
	margin-top: -50px;
	margin-left: 50px
	
}
#booze{
	font-family: Informal Roman;
	font-size: 300%;
	
}
#booze img{
	width: 200px;
	height: 300px;
	margin-left: 175px;
}
#booze strong{
	border: 2px solid black;
	border-radius: 25px;
	padding: 25px;
	margin-left: 100px;
	background-color:#74bf5d;
}
#tequila {
	margin-bottom: 50px;
}